.profile {
    margin-top: -5rem;

    @include breakpoint($tablet-bp) {
        margin-top: -1rem;
        position: relative;

        border-bottom: 1px solid $borders;
    }
}

.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
/*  Выравниваем по центру  */
    margin: 0 auto 2rem;
/*  Позволяет наслоить на другой блок  */
    position: relative;
    box-shadow: 0 7px 20px rgba($shadow, 0.25);
/*  Закругляем аватарку  */
    border-radius: 50%;

    @include breakpoint($tablet-bp) {
        width: 6.5rem;
        height: 6.5rem;

        margin-left: 0;
        position: absolute;
        left: 0;
    }
}

.profile__header {
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint($tablet-bp) {
        padding-top: 2rem;
        padding-left: 8rem;
        text-align: left;
    }
}

.profile__name {
    font-size: 1.8rem;
    color: $text;

    @include breakpoint($tablet-bp) {
        font-size: 1.5rem;
    }
}

.profile__prof {
    font-size: 1.4rem;
/*  Толщина шрифта  */
    font-weight: 300;
    color: lighten($text, 2%);

    @include breakpoint($tablet-bp) {
        font-size: 1.2rem;
    }
}

.profile__text {
    padding: 3rem 0;
    margin: 3rem 0;
    font-size: 1.2rem;
    color: $text;
    line-height: 1.8;
    text-align: center;
    border-top: 1px solid $borders;
    border-bottom: 1px solid $borders;

    @include breakpoint($tablet-bp) {
        display: none;
    }
}
