.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
/*  Выравниваем по центру  */
    margin: 0 auto 2rem;
/*  Позволяет наслоить на другой блок  */
    position: relative;
    box-shadow: 0 7px 20px rgba($shadow, 0.25);
/*  Закругляем аватарку  */
    border-radius: 50%;
}

.profile__name {
    font-size: 1.8rem;
    text-align: center;
    color: $text;
}

.profile__prof {
    margin-bottom: 2rem;
    font-size: 1.4rem;
/*  Толщина шрифта  */
    font-weight: 300;
//    color: #DEDEDE;
    color: lighten($text, 2%);
    text-align: center;
}

.profile__text {
    padding: 3rem 0;
    margin: 3rem 0;
    font-size: 1.2rem;
    color: $text;
    line-height: 1.8;
    text-align: center;
    border-top: 1px solid rgba(#1C1C1C, .2);
    border-bottom: 1px solid rgba(#1C1C1C, .2);
}
