.sidebar {
    width: 300px;
    height: 100vh;
    background-color: $primary;
    /*  Накладываем тень (ось x: 5px, ось y: 0,
      размытие, цвет, непрозрачность) */
    box-shadow: 5px 0 35px rgba($shadow, 0.1);
    /*  Блок фиксируется в точках равных top и left  */
    position: fixed;
    top: 0;
    left: 0;
    /*  Происходит наслоение блоков
      (1000 будет вверху, 500 будет снизу)  */
    z-index: 1000;

    @include breakpoint($tablet-bp) {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 4.3rem);
        padding-bottom: 1.5rem;
//      При поворе телефона позволяет скролить sidebar
        overflow: auto;

        top: 4.3rem;

        transform: translatex(-100%);
        transition: transform .2s linear;

        .show-sidebar & {
            transform: translatex(0);
        }
    }
}

.sidebar__header {
    height: 18rem;
    background-color: $secondary;

    img {
    /*  Отображается как блочный элемент  */
        display: block;
        width: 100%;
        height: 100%;
    /*  Изображение выравнивается под размеры блока  */
        object-fit: cover;
    }

    @include breakpoint($tablet-bp) {
        height: 10rem;
    }
}

.sidebar__content {
    padding: 0 2rem;
}

.sidebar__footer {
    display: flex;
    justify-content: center;
    padding: 0 2rem;

    @include breakpoint($tablet-bp) {
        margin: 3rem 0 5rem;
    }
}
