.social {
  /*  Flexbox контейнер  */
  display: flex;
  /*  Выравнивает блоки по центру  */
  justify-content: center;
}

.social__item {
  margin: 0 0.75rem;
}

.social__icon {
    width: 25px;
    height: 25px;

    &--share {
        width: 45px;
        height: 45px;
    }
}
