.social {
    /*  Flexbox контейнер  */
    display: flex;
    /*  Выравнивает блоки по центру  */
    justify-content: center;

    @include breakpoint($tablet-bp) {

        &--md {
            display: none;
        }
    }
}

.social__item {
  margin: 0 0.75rem;
}

.social__icon {
    width: 25px;
    height: 25px;

    &--share {
        width: 45px;
        height: 45px;
    }
    @include breakpoint($tablet-bp) {
        &--share {
            width: 35px;
            height: 35px;
        }
    }
}
