.tags {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 3rem;
}

.tags__item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.36em 0.81em;

    background-color: lighten($text-2, 40%);
    border-radius: 3px;

    font-size: 1.1rem;
    line-height: 1.3;
    color: $text;
    text-align: center;
}
